<div class="navbar">
  <h2>code fusion hub</h2>
  <div>
    <div class="toggle-button-row" (click)="toggleslide()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
</div>
<div class="slide-out-pannel" [class.slide-out]="isSlideOut">
  <div class="slide-out-content">
    <h2>budget planner</h2>
    <div class="edit-col" (click)="ondashboard()">ondashbord</div>
    <div class="edit-col" (click)="onProfile()">profile</div>
    <div class="edit-col" (click)="onprev()">preve history</div>
    <div class="edit-col" (click)="logout()">logout</div>
  </div>
</div>
