<nav class="navbar_login">
  <h1>Budget Planner</h1>
</nav>

<!-- login -->
<div class="login_container">
  <form *ngIf="activeForm === 'login'" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <label for="loginUsername">Name</label>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" value="" id="loginUsername" formControlName="username">
    </mat-form-field>
    <label for="loginPassword">Password</label>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" id="loginPassword"
        formControlName="password" /><br /><br />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
    <p (click)="toggle('register')">
      Don't have an account?
      <span class="highlight" style="color: coral">Register</span>
    </p>
  </form>

  <!-- register -->
  <form class="frame_login" *ngIf="activeForm === 'register'" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2>Register Form</h2>
    <label for="registerUsername">Name</label>
    <input type="text" placeholder="Username" id="registerUsername" formControlName="username" /><br /><br />

    <label for="registerEmail">Email</label>



    <input type="email" placeholder="Email" id="registerEmail" formControlName="email" /><br /><br />

    <label for="registerPassword">Password</label>

    <input type="password" placeholder="Password" id="registerPassword" formControlName="password" /><br /><br />

    <button mat-raised-button type="submit">Register</button>
    <p (click)="toggle('login')">
      Have an account?
      <span class="highlight" style="color: coral">Login</span>
    </p>
  </form>
</div>
